doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Pattern Library

		//- Mobile Specific Meta
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- Stylesheets
		link(rel="stylesheet", href="css/styles.css")

		//- Bower Components
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")

		style.
			.demo-col {
				background: #DEF0FA;
				text-align: center;
				padding: 1em 0;
				display: block;
				border-radius: 3px;
			}

			.row {
				margin-bottom: 2em;
			}

	body
		//- The Grid System
		section
			.container
				h1 The Grid System
				hr
				.row
					.col-12: .demo-col .col-12

				.row
					.col-6: .demo-col .col-6
					.col-6: .demo-col .col-6

				.row
					.col-4: .demo-col .col-4
					.col-4: .demo-col .col-4
					.col-4: .demo-col .col-4

				.row
					.col-3: .demo-col .col-3
					.col-3: .demo-col .col-3
					.col-3: .demo-col .col-3
					.col-3: .demo-col .col-3

				.row
					.col-5: .demo-col .col-5
					.col-7: .demo-col .col-7

				.row
					.col-4: .demo-col .col-4
					.col-8: .demo-col .col-8

				.row
					.col-3: .demo-col .col-3
					.col-9: .demo-col .col-9

				.row
					.col-2: .demo-col .col-2
					.col-10: .demo-col .col-10

				.row
					.col-1: .demo-col .col-1
					.col-11: .demo-col .col-11

				.row
					.col-half: .demo-col .col-half
					.col-half: .demo-col .col-half

				.row
					.col-quarter: .demo-col .col-quarter
					.col-quarter: .demo-col .col-quarter
					.col-half: .demo-col .col-half

				.row
					.col-third: .demo-col .col-third
					.col-two-thirds: .demo-col .col-two-thirds

				.row
					.col-2: .demo-col .col-2
					.col-2: .demo-col .col-2
					.col-2: .demo-col .col-2
					.col-2: .demo-col .col-2
					.col-2: .demo-col .col-2
					.col-2: .demo-col .col-2

				.row
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
					.col-1: .demo-col .col-1
		
		//- Typography
		section
			.container
				h1 Typography
				hr

				.row
					.col-half
						h1 Heading 1
						h2 Heading 2
						h3 Heading 3
						h4 Heading 4
						h5 Heading 5
						h6 Heading 6

					.col-half
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde sit, velit debitis et vitae, <a href="#">excepturi</a> molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aliquid labore consequatur explicabo ducimus <strong>nisi soluta maxime</strong> minima, fugiat, sunt quam repellendus reprehenderit. Voluptatem, laboriosam velit rerum, eligendi dolore itaque.
						p
							| Lorem ipsum dolor sit amet, <strike>consectetur</strike> adipisicing elit. Minus corporis sunt eum, incidunt ex facere itaque provident quia natus dolorem, <em>ratione iure atque</em> vero inventore ipsum illum minima hic obcaecati beatae, tempora ad ducimus id?

						pre
							code
								| .row::after {
								|		content: '';
								|		display: table;
								|		clear: both;
								|	}

				.row
					.col-half
						h4 Unordered list
						ul
							li Item 1
							li Item 2
							li Item 3
							li Item 4

					.col-half
						h4 Ordered list
						ol
							li Item 1
							li Item 2
							li Item 3
							li Item 4
				
				hr

				blockquote This is a blockquote.
					footer
						a(href="#") This is a author.

		//- Buttons
		section
			.container
				h1 Buttons
				hr

				.row
					.col-4
						h4 Button styles

						p
							button(class="btn") Default style
							button(class="btn-primary") Primary style

					.col-4
						h4 Button sizes
						p
							button(class="btn-small") Small size
						p
							button(class="btn") Default size
						p
							button(class="btn-large") Large size

					.col-4
						h4 HTML elements
						
						p
							button(class="btn") Button
						p
							a(class="btn") Anchor tag
						p
							input(type="submit", class="btn", value="Submit input")
						p
							input(type="button", class="btn", value="Button input")
		
		//- Forms
		section
			.container
				h1 Forms
				hr

				form(action="")
					.row
						.col-half
							
							fieldset
								legend Inputs

								.field-group

									label(for="demo-input-1") This is a label
									input(type="text", id="demo-input-1", placeholder="This is a text input")

									p(class="help") This is a contextual help for the field above.

								.field-group.field-error

									label(for="demo-input-2") Error field
									input(type="text", id="demo-input-2", placeholder="This is a text input")

									p(class="help") This is a error message help for the field above.

								.field-group

									label(for="demo-textarea") This is a label
									textarea(type="text", id="demo-textarea", cols="30", rows="10", placeholder="This is textarea")

						.col-half

							fieldset
								legend Radio buttons and checkboxes

								.field-group
									input(type="radio", name="demo-radio", id="demo-radio-1")
									label(for="demo-radio-1") Radio 1

									input(type="radio", name="demo-radio", id="demo-radio-2")
									label(for="demo-radio-2") Radio 2

									input(type="radio", name="demo-radio", id="demo-radio-3")
									label(for="demo-radio-3") Radio 3

								.field-group
									input(type="checkbox", name="demo-checkbox", id="demo-checkbox")
									label(for="demo-checkbox") This is a checkbox 

				.row
					.col-4
						form(action="")
							fieldset
								legend Sign-in Form

								.field-group
									label(for="sign-in-username") Username: 
										span(class="required")  *
									input(type="text", id="sign-in-username", name="sign-in-username")

								.field-group
									label(for="sign-in-pwd") Password: 
										span(class="required")  *
									input(type="text", id="sign-in-pwd", name="sign-in-pwd")

								.field-group
									input(type="checkbox", id="sign-in-checkbox", name="sign-in-checkbox")
									label(for="sign-in-checkbox") Remember me: 

								.field-group
									input(type="submit", class="btn", value="Sign In")

								p: em required fields 
									span(class="required")  *

					.col-4
						form(action="")
							fieldset
								legend Sign-up Form

								.field-group
									label(for="sign-up-email") Email address:
										span(class="required")  *
									input(type="email", id="sign-up-email", name="sign-up-email")

								.field-group
									label(for="sign-up-pwd") Password:
										span(class="required")  *
									input(type="password", id="sign-up-pwd", name="sign-up-pwd")

								.field-group
									label(for="sign-up-confirm-pwd") Confirm Password:
										span(class="required")  *
									input(type="password", id="sign-up-confirm-pwd", name="sign-up-confirm-pwd")

								.field-group
									input(type="submit", class="btn", value="Sign Up")

								p: em required fields 
									span(class="required")  *

					.col-4
						form(action="")
							fieldset
								legend Contact Form

								.field-group
									label(for="contact-name") Name:
										span(class="required")  *
									input(type="email", id="contact-name", name="contact-name")

								.field-group
									label(for="contact-email") Email address:
										span(class="required")  *
									input(type="email", id="contact-email", name="contact-email")

								.field-group
									label(for="contact-website") Website:
									input(type="url", id="contact-website", name="contact-website")

								.field-group
									label(for="contact-textarea") Message:
										span(class="required")  *
									textarea(cols="30", rows="10", id="contact-textarea", name="contact-textarea", class="field-fw")

								.field-group
									input(type="submit", class="btn", value="Send Message")

								p: em required fields 
									span(class="required")  * 

		//- Icons
		section
			.container
				h1 Icons
				hr

				.row
					.col-half
						h4 Bordered Icons
						
						.icon-circle
							i.fa.fa-coffee
						p Circle

						.icon-rounded
							i.fa.fa-coffee
						p Rounded

						.icon-square
							i.fa.fa-coffee
						p Square

					.col-half
						h4 Icons sizes
						
						.icon-circle
							i.fa.fa-coffee
						p Default

						.icon-circle.icon-large
							i.fa.fa-coffee
						p Large

						.icon-circle.icon-huge
							i.fa.fa-coffee
						p Huge
	
		//- Feedback
		section
			.container
				h1 Feedback
				hr

				.row
					.col-half
						.alert-information
							p: strong Infomation
							p This is the body of the message

						.alert-error
							p: strong Error
							p This is the body of the message

					.col-half
						.alert-warning
							p: strong Warning
							p This is the body of the message

						.alert-success
							p: strong Success
							p This is the body of the message
		
		//- Navigation
		section
			.container
				h1 Navigation
				hr

				.row.navbar-container
					.col-4
						a(class="logo"): img(src="images/demo/logo.png", alt="Demo Logo")

					.col-8
						button(class="btn", id="rwd-trigger") Toggle menu
						nav
							ul(class="sf-menu")
								li: a(href="#") Item 1
								li
									a(href="#") Item 2
									ul
										li: a(href="#") Subitem 1
										li: a(href="#") Subitem 2
										li: a(href="#") Subitem 3
										li: a(href="#") Subitem 4
								li: a(href="#") Item 3
								li: a(href="#") Item 4
	
		//- Animations
		section
			.container
				h1 Animations
				hr

				.row#animations
					.col-2
						.demo-col bounce

					.col-2
						.demo-col flash

					.col-2
						.demo-col pulse

					.col-2
						.demo-col rubberBand

					.col-2
						.demo-col shake

					.col-2
						.demo-col swing
	
		//- Tabs
		section
			.container
				h1 Tabs
				hr

				.tabs
					ul.tabs-links
						li.active
							a(href="#tab-1") First
						li
							a(href="#tab-2") Second
						li
							a(href="#tab-3") Third
					
					.tabs-content
						.tab.active#tab-1
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laudantium labore eos, nobis accusantium? Totam rem culpa, fuga saepe facere libero ea, alias, a at labore nostrum aperiam blanditiis voluptatem!

						.tab#tab-2
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique laudantium sint labore iste asperiores explicabo, quod inventore harum qui cumque rerum fugiat rem blanditiis aliquam dolor adipisci, dolore perspiciatis maxime quam ad accusamus officia, ipsum atque.

						.tab#tab-3
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa suscipit minus aperiam deleniti consequuntur tempore asperiores, ducimus assumenda, dolores, repudiandae officiis sit. Enim culpa ducimus iste vitae sapiente.
		
		//- Accordions
		section
			.container
				h1 Accordions
				hr

				.accordion
					.accordion-element
						a.accordion-element-title(href="#accordion-element-1") First
						#accordion-element-1.accordion-element-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum totam tempore, repellendus numquam pariatur. Deleniti ullam, quaerat dolores.

						a.accordion-element-title(href="#accordion-element-2") Second
						#accordion-element-2.accordion-element-content
							p Lorem ipsum dolor sit amet. Illum totam tempore, repellendus numquam pariatur. Deleniti ullam, quaerat dolores. Nam placeat tenetur adipisci temporibus perspiciatis minima, laboriosam odit accusamus deserunt?

						a.accordion-element-title(href="#accordion-element-3") Third
						#accordion-element-3.accordion-element-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum totam tempore, repellendus numquam pariatur. Deleniti ullam, quaerat dolores. Nam placeat tenetur minima, laboriosam odit accusamus deserunt?

						a.accordion-element-title(href="#accordion-element-4") Fourth
						#accordion-element-4.accordion-element-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum totam tempore, repellendus numquam pariatur. Deleniti ullam, quaerat dolores. Nam placeat tenetur adipisci temporibus perspiciatis minima, laboriosam odit accusamus deserunt?

		//- Bower Components
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/superfish/dist/js/superfish.min.js")
		script(src="bower_components/superfish/dist/js/hoverIntent.js")

		//- App scripts
		script(src="js/app.js")

