doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Pattern Library

		//- Mobile Specific Meta
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- Stylesheets
		link(rel="stylesheet", href="css/styles.css")

	body

