@import "../settings/settings";

button,
.btn,
a.btn {
	border: none;
	border-radius: $btn-roundness;
	background-color: $btn-default-bg;
	color: $btn-default-text-color;
	line-height: 1;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	padding: 0.75em 1.5em;

	&:hover {
		background: $text-color;
		color: white;
	}

	&:active {
		background: lighten($text-color, 10%);
	}

	&:focus {
		outline: none;
	}
}

.btn-primary {
	@extend .btn;
	background: $btn-primary-bg;
	color: $btn-primary-text-color;
}

.btn-small {
	@extend .btn;
	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn;
	font-size: $btn-large-font-size;
	font-weight: 700;
}